$family: 'Exo2.0', sans-serif;

$bold: 600;
$normal: 500;
$light: 400;

$font-20: 20px;
$font-24: 24px;
$font-28: 28px;
$font-30: 30px;
$font-40: 40px;
$font-60: 60px;

$orange: #FD6500;
$white: #fff;
$darkGray: #292D33;
$black: #000000;
$gray: #0e171e;