@import './../../../src/styles/vars.scss';

@font-face {
    font-family: 'Exo2.0';
    src: url(./../../../src/assets/fonts/Exo2.0-Thin.otf) format('opentype');
}

@mixin font($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    font-family: $family;
    color: $color;
}

.movieList__container-loading {
    text-align: center;
    padding: 30px;
    background: $gray;
    @include font($bold, $font-60, $white);
}

.movieList__error {
    text-align: center;
    padding: 30px;
    background: $gray;
    @include font($bold, $font-60, $white);
}

.movieList__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
}

@media screen and (min-width: 360px) and (max-width: 767px) {

    .movieList__error {
        padding: 10px;
        @include font($bold, $font-40, $white);
    }

    // .movieList__container {
    // justify-content: space-between;
    // }
}